img.burger-menu-button {
    max-width: 42px;
    margin: 0;
    padding: 24;
    border: none;
    box-shadow: none;
    cursor: pointer;
}

img.burger-menu-button:hover {
    /* chill */
}

.burger-menu-contents {
    position: absolute;
    top: 60px;
    max-width: 20vw;
    max-height: 50vh;
    overflow: hidden;

    border: 1px solid #333;
    padding: 4px;
    box-shadow: rgba(0,0,0, 30%) 8px 8px 5px;
    background-color: white;

}

.burger-menu-contents ul,
.burger-menu-contents li {
    padding-left: 0;
}

.burger-menu-contents li:hover {
    cursor: pointer;
    color:rgb(0, 198, 152)
}

.main-container {
    padding-left: 28px;
    padding-right: 28px;
}